<div class="row">
  <div class="span6">
    <div class="desc1">
      <h1>Lawve.me automates contracts<br/>
      <p>&nbsp;</p>
      <em>Free and open-source</em></h1>
    </div>
  </div>
  <div class="span6">
    <div class="well">
      <h3>The killer contract</h3>
      <p>The killer contract is a simplified and easy to read bullet proof website design and development contract based on a template shared by <a href="http://24ways.org/2008/contract-killer">Andy Clarke</a></p>
      <a href="/killer_contract_form"><button class="btn btn-danger btn-large pull-right">I want it</button></a>
    </div>
    <!--    <div class="well">
     <h3>Web design and development contract</h3>
     <p>A serious and reliable contract for website design and development, based on a template shared by <a href="http://www.appleseedhosting.com/">Appleseed Hosting</a></p>
    <a href="/website_development_form"> <button class="btn btn-danger btn-large pull-right">I want it</button></a>
  </div> -->
  </div>
</div>