<div class="row">
  <div class="span8">
    <div class="desc1">
    <h2>Les textes juridiques devraient être facilement rédigeables et compréhensibles par tous</h2>
    </div>
    <div class="desc2">
      <h3>Lawve.me automatise la création de vos textes juridiques.
      Contrats, statuts, mentions légales...
      Remplissez un questionnaire simple, nous générons votre texte en un clic.
      <em>Et c'est gratuit.</em></h3>
    </div>
  </div>

  <div class="span4">

    <p><a href="/welcome"><button class="btn btn-info btn-large generate_button">Générer des statuts de SAS</button></a>
    <!--    <a href="/mentions_question"><button class="btn btn-info btn-large">Générer des mentions légales de site internet</button></a> -->
    </p>
  </div>
</div>