<div class="row">
  <div class="span6">
    <h1>Killer contract</h1>
    <p><em>Fill in the form to get your killer contract for website design and development. It is free and we do not collect your data</em></p>
    <form action='/killer_contract' id="SignupForm" method='post'>
      <fieldset>
        <legend>The people</legend>
        <p>&nbsp;</p>
        <p> <input type='text' placeholder='Enter your company name' name='contracted_name'/>
            <input type='text' placeholder='Your address' name= 'contracted_address'/>
            <input type='text' placeholder='Your client name' name='client_name'/>
        </p>
      </fieldset>

      <fieldset>
        <legend>The mission</legend>
        <p>&nbsp;</p>
        <p> <input type='text' placeholder='Describe shortly the mission' name='mission'/>
            <input type='number' placeholder='Total price' name= 'total_price'/>
            <input type='text' placeholder='The rate per hour for this mission' name='rate_per_hour'/>
            <input type='text' placeholder='Your currency' name='currency'/>
            <input type='text' placeholder='Describe the payment schedule' name='payment_schedule'/>
        </p>  
        <button class="btn btn-danger btn-large pull-right" type='submit'/>Make me a killer contract</button>
      </fieldset>
    </form>
  </div>
  <div class="span6">
    <div class="well">
      <h3>The killer contract</h3>
      <p>The killer contract is a simplified and easy to read bullet proof website design and development contract based on a template shared by <a href="http://24ways.org/2008/contract-killer">Andy Clarke</a></p>
      <a href="/killer_contract_form"><button class="btn btn-danger btn-large pull-right">I want it</button></a>
    </div>
    <div class="well">
     <h3>Web design and development contract</h3>
     <p>A serious and reliable contract for website design and development, based on a template shared by <a href="http://www.appleseedhosting.com/">Appleseed Hosting</a></p>
    <a href="/website_development_form"> <button class="btn btn-danger btn-large pull-right">I want it</button></a>
  </div>
  </div>
</div>
</div>
<div class="credit">
  Powered by <a href="http://nukomeet.com">Nukomeet</a>
</div>
