<div class="row">
  <div class="span8">
    <div class="desc1">
      <h1>PROTECT YOURSELF</h1>
      <p>&nbsp;</p>
      <h2>Wear a contract</h2>
    </div>
    <div class="desc2">
      <h3>Lawve.me automates contracts<br/>
      <em>And it is free</em></h3>
    </div>
    <p>&nbsp;</p>
    <h3>Fill the form on the right to get a serious contract for web development</h3>
    <p>&nbsp;</p>
    <a href="/welcome"> <button class="btn btn-danger btn-large">I prefer a killer website development contract</button></a>
  </div>
  <div class="span4">
    <p><em>Fill in the form to get your contract. It is free and we do not collect your data</em></p>
<form action='/website_development' id="SignupForm" method='post'>
  <fieldset>
  <legend>The people</legend>
  <p>&nbsp;</p>
  <p> <input type='text' placeholder='Developer name' name='developer_name'/>
      <input type='text' placeholder='Developer status (company, individual...)' name= 'developer_status'/>
      <input type='text' placeholder='Client name' name='company_name'/>
      <input type='text' placeholder='Client occupation' name='company_business'/>
  </fieldset>

    <fieldset>
  <legend>The delays</legend>
  <p>&nbsp;</p>
      <input type='number' placeholder='How long will the development take (in days)?' name= 'delay'/>
      <input type='number' placeholder='How long should be the warranty period (in days)?' name='warranty_period'/>
      <input type='number' placeholder='How long should be the maintenance period (in days)?' name='maintenance_period'/>
</fieldset>

    <fieldset>
  <legend>Payment</legend>
  <p>&nbsp;</p>
      <input type='text' placeholder='Currency' name= 'currency'/>
      <input type='number' placeholder='How much should be the first installment?' name= 'first_payment'/>
      <input type='number' placeholder='How much should be the second installment?' name='second_payment'/>
      <input type='number' placeholder='How much should be the third period (in days)?' name='third_payment'/>
  </p>  
          <button class="btn btn-danger btn-large pull-right" type='submit'/>Make me a killer contract</button>
</fieldset>

</form>
</div>
</div>
<div class="credit">
  Powered by <a href="http://nukomeet.com">Nukomeet</a>
</div>