<div class="row">
  <div class="span6">
    <h1>Web design and development contract</h2>
    <p><em>Fill in the form to get your contract. It is free and we do not collect your data</em></p>
<form action='/website_development' id="SignupForm" method='post'>
  <fieldset>
  <legend>The people</legend>
  <p>&nbsp;</p>
  <p> <input type='text' placeholder='Developer name' name='developer_name'/>
      <input type='text' placeholder='Developer status (company, individual...)' name= 'developer_status'/>
      <input type='text' placeholder='Client name' name='company_name'/>
      <input type='text' placeholder='Client occupation' name='company_business'/>
  </fieldset>

    <fieldset>
  <legend>The delays</legend>
  <p>&nbsp;</p>
      <input type='number' placeholder='Development (in days)' name= 'delay'/>
      <input type='number' placeholder='Warranty period (in days)' name='warranty_period'/>
      <input type='number' placeholder='Maintenance period (in days)' name='maintenance_period'/>
</fieldset>

    <fieldset>
  <legend>Payment</legend>
  <p>&nbsp;</p>
      <input type='text' placeholder='Currency' name= 'currency'/>
      <input type='number' placeholder='First installment' name= 'first_payment'/>
      <input type='number' placeholder='Second installment' name='second_payment'/>
      <input type='number' placeholder='Third installment' name='third_payment'/>
  </p>  
    <button class="btn btn-danger pull-right" type='submit'/>DONE !</button>
</fieldset>

</form>
</div>
  <div class="span6">
    <div class="well">
      <h3>The killer contract</h3>
      <p>The killer contract is a simplified and easy to read bullet proof website design and development contract based on a template shared by <a href="http://24ways.org/2008/contract-killer">Andy Clarke</a></p>
      <a href="/killer_contract_form"><button class="btn btn-danger btn-large pull-right">I want it</button></a>
    </div>
    <div class="well">
     <h3>Web design and development contract</h3>
     <p>A serious and reliable contract for website design and development, based on a template shared by <a href="http://www.appleseedhosting.com/">Appleseed Hosting</a></p>
    <a href="/website_development_form"> <button class="btn btn-danger btn-large pull-right">I want it</button></a>
  </div>
  </div>
</div>
</div>
<div class="credit">
  Powered by <a href="http://nukomeet.com">Nukomeet</a>
</div>