<div class="row">
  <div class="span8">
    <div class="desc1">
      <h1>PROTECT YOURSELF</h1>
      <p>&nbsp;</p>
      <h2>Wear a contract</h2>
    </div>
    <div class="desc2">
      <h3>Lawve.me automates contracts<br/>
      <em>And it is free</em></h3>
    </div>
    <p>&nbsp;</p>
    <h3>Fill the form on the right to get a killer contract for web development</h3>
  </div>
  <div class="span4">
    <p><em>Fill in the form to get your killer contract. It is free and we do not collect your data</em></p>
<form action='/killer_contract' id="SignupForm" method='post'>
  <fieldset>
  <legend>The people</legend>
  <p>&nbsp;</p>
  <p> <input type='text' placeholder='Enter your company name' name='contracted_name'/>
      <input type='text' placeholder='Your address' name= 'contracted_address'/>
      <input type='text' placeholder='Your client name' name='client_name'/>
  </fieldset>

    <fieldset>
  <legend>The mission</legend>
  <p>&nbsp;</p>
  <p> <input type='text' placeholder='Describe shortly the mission' name='mission'/>
      <input type='number' placeholder='Total price' name= 'total_price'/>
      <input type='text' placeholder='The rate per hour for this mission' name='rate_per_hour'/>
      <input type='text' placeholder='Your currency' name='currency'/>
      <input type='text' placeholder='Describe the payment schedule' name='payment_schedule'/>
  </p>  
          <button class="btn btn-danger btn-large pull-right" type='submit'/>Make me a killer contract</button></tr>
</fieldset>

  </p>
</form>
</div>
</div>
<div class="credit">
  Powered by <a href="http://nukomeet.com">Nukomeet</a>
</div>
